@import url(https://fonts.googleapis.com/css?family=Teko:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Atomic+Age);
body {
  height: 100vh;
  margin: 0;
  background-color: white; }

.page-wrap {
  color: #444;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Teko", sans-serif; }

h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700; }

.number {
  font-family: "Atomic Age", cursive;
  margin: 0;
  font-size: 8.5em;
  letter-spacing: -13px;
  margin-left: -13px;
  line-height: 0.65; }

.name-jp {
  margin: 0;
  font-size: 0.625em;
  line-height: 1; }

.name-eng {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  font-size: 2em;
  line-height: 1; }
